@charset "UTF-8";

/* 線(ライン)部分 */
.main-contents > .line {
  border: 1px solid #1E1E21;
  margin: 64px 0 0;
}
/* 線(ライン)部分 */

/* ボタン部分 */
.main-btn {
  position: absolute;
  top: 48px;
  right: 48px;
  background: #1E1E21;
  border-radius: 50px;
  padding: 16px 24px;
  cursor: pointer;
}
.main-btn > a {
  color: #F5F3EF;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
/* ボタン部分 */

/* メイン部分 */
main {
  width: 1920px;
  display: flex;
  position: relative;
}
.main-img {
  width: 50%;
}
.main-img > img {
  width: 100%;
}
.main-contents {
  width: 50%;
  padding: 64px 32px 64px 64px;
}
.main-me {
  margin: 0 0 16px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}
.main-neme {
  font-size: 192px;
  font-weight: 600;
  letter-spacing: -10px;
  margin: 0 0 8px;
}
.main-info {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -2px;
  margin: 0 0 16px;
}
.main-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
}
.main-title {
  font-size: 96px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -4px;
  margin: 64px 0 30px;
}
/* メイン部分 */

/* フッター部分 */
footer {
  width: 1920px;
  padding: 157px 64px 138px;
  background: #1E1E21;
  align-items: center;
  text-align: center;
}
.footer-name {
  color: #F5F3EF;
  font-size: 192px;
  font-weight: 600;
  letter-spacing: -10px;
  margin: 0 0 32px;
}
.footer-btn {
  background: #F5F3EF;
  border-radius: 50px;
  display: inline-block;
  padding: 20px 30px;
  cursor: pointer;
  margin: 0 0 140px;
}
.footer-btn > a {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
}
footer > ul {
  display: flex;
  justify-content: space-between;
  width: calc(111px * 4 + 144px);
  margin: 0 auto;
}
footer > ul > li {
  width: 111px;
}
footer > ul > li > a {
  display: block;
  width: 100%;
  color: #F5F3EF;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}
/* フッター部分 */