@charset "UTF-8";

/* ボタン部分 */
.contents-btn {
  position: absolute;
  top: 48px;
  right: 48px;
  background: #1E1E21;
  border-radius: 50px;
  padding: 16px 24px;
  cursor: pointer;
}
.contents-btn > a {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #F5F3EF;
}
/* ボタン部分 */

.container {
  width: 1920px;
  display: flex;
  height: 1200px;
}
.container-img {
  width: 50%;
}
.container-img > img {
  width: 100%;
}
.contents {
  width: 50%;
  padding: 64px;
  position: relative;
}
.contents-name {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
  margin: 0 0 16px;
}
.contents-title {
  font-size: 128px;
  letter-spacing: -4px;
  font-weight: 600;
  margin: 0 0 300px;
}
form {
  width: 100%;
}
.name-form,
.email-form,
.message-form {
  width: 100%;
  background: #E4E1DA;
  padding: 24px 30px;
  margin: 0 0 16px;
  align-items: center;
  display: flex;
}
label {
  display: block;
  width: 10%;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
}
.message-form > label {
  width: 15%;
}
input {
  width: 90%;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: none;
  background: #E4E1DA;
  padding: 0;
}
.message-form > textarea {
  width: 85%;
  font-size: 20px;
  height: calc(200px - 48px);
  resize: none;
  border: none;
  outline: none;
  box-shadow: none;
  background: #E4E1DA;
  padding: 0;
}
button {
  width: 100%;
  background: #1E1E21;
  border-radius: 50px;
  padding: 20px 0;
  color: #F5F3EF;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

/* フッター部分 */
footer {
  width: 1920px;
  padding: 157px 64px 138px;
  background: #1E1E21;
  align-items: center;
  text-align: center;
}
.footer-name {
  color: #F5F3EF;
  font-size: 192px;
  font-weight: 600;
  letter-spacing: -10px;
  margin: 0 0 32px;
}
.footer-btn {
  background: #F5F3EF;
  border-radius: 50px;
  display: inline-block;
  padding: 20px 30px;
  cursor: pointer;
  margin: 0 0 140px;
}
.footer-btn > a {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
}
footer > ul {
  display: flex;
  justify-content: space-between;
  width: calc(111px * 4 + 144px);
  margin: 0 auto;
}
footer > ul > li {
  width: 111px;
}
footer > ul > li > a {
  display: block;
  width: 100%;
  color: #F5F3EF;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}
/* フッター部分 */