@charset "UTF-8";

/* ボタン部分 */
.menu-btn {
  position: absolute;
  top: 48px;
  right: 48px;
  background: #1E1E21;
  border-radius: 50px;
  padding: 16px 24px;
}
.menu-btn > a {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #F5F3EF;
}
/* ボタン部分 */

/* Work02部分 */
.container {
  width: 1920px;
  padding: 64px;
  position: relative;
}
.container-neme {
  font-size: 192px;
  font-weight: 600;
  letter-spacing: -10px;
}
.contents {
  width: 100%;
  display: flex;
}
.contents-text {
  width: calc(100% - 500px - 64px);
  font-size: 64px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -2px;
  margin: 0 64px 0 0;
}
dl {
  width: 500px;
}
dl > .list-info {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 2px solid #1E1E21;
}
.list-info > dt,
.list-info > dd {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
}
/* Work02部分 */

.k-visual {
  width: 1920px;
}
.k-visual > img {
  width: 100%;
}


/* フッター部分 */
footer {
  width: 1920px;
  padding: 157px 64px 138px;
  background: #1E1E21;
  align-items: center;
  text-align: center;
}
.footer-name {
  color: #F5F3EF;
  font-size: 192px;
  font-weight: 600;
  letter-spacing: -10px;
  margin: 0 0 32px;
}
.footer-btn {
  background: #F5F3EF;
  border-radius: 50px;
  display: inline-block;
  padding: 20px 30px;
  cursor: pointer;
  margin: 0 0 140px;
}
.footer-btn > a {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
}
footer > ul {
  display: flex;
  justify-content: space-between;
  width: calc(111px * 4 + 144px);
  margin: 0 auto;
}
footer > ul > li {
  width: 111px;
}
footer > ul > li > a {
  display: block;
  width: 100%;
  color: #F5F3EF;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}
/* フッター部分 */